<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
            <run>
                <include name="Smoke Test"/>
                <include name="Regression Test"/>
            </run>
        </groups>
    <classes>
      <class name="com.InterestAmount.Testcases.CarLoanTestCases"/>
     </classes>
     </test> <!-- Test -->
    <test thread-count="5" name="homeLoan">
     <groups>
            <run>
                <include name="Smoke Test"/>
                <include name="Regression Test"/>
            </run>
        </groups>
    <classes>
      <class name="com.InterestAmount.Testcases.HomeLoanCalculatorTestCases"/>
     </classes>
     </test> <!-- Test -->
    <test thread-count="5" name="EMI">
     <groups>
            <run>
                <include name="Smoke Test"/>
                <include name="Regression Test"/>
            </run>
        </groups>
    <classes>
      <class name="com.InterestAmount.Testcases.LoanEMIUICheckTestCases"/>
     </classes>
     </test> <!-- Test -->
    <test thread-count="5" name="homeTest">
     <groups>
            <run>
                <include name="Smoke Test"/>
                <include name="Regression Test"/>
            </run>
        </groups>
    <classes>
      <class name="com.InterestAmount.Testcases.LoanAmountCalculatorUICheckTestcases"/>
     </classes>
     </test> <!-- Test -->
    <test thread-count="5" name="Loan Tenure">
    <groups>
            <run>
                <include name="Smoke Test"/>
                <include name="Regression Test"/>
            </run>
        </groups>
     <classes>
      <class name="com.InterestAmount.Testcases.LoanTenureCalculatorUICheckTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->